@import 'https://fonts.googleapis.com/css?family=Roboto';
@import 'https://fonts.googleapis.com/css?family=Inconsolata';

body {
    font-family: 'Roboto', sans-serif;
    background: #2c2c2c;
}

h1, h2, h3 {
    font-family: 'Roboto', sans-serif;
}

.remark-code, .remark-inline-code {
    font-size: 14px;
    font-family: 'Inconsolata', monospace;
}

.remark-slide-content {
    padding: 0em 2em 1em 2em;
}
